<nav>
  <div class="title">
    <a routerLink="/" class="active">
      <div class="logo-icon"></div>
      <h1 class="logo-text">Vaccine</h1>
    </a>
  </div>
  <div class="search">
    <input *ngIf="this.me" type="text" placeholder="Search" [(ngModel)]="this.keywords" (keyup)="this.handleSearch()">
  </div>
  <div *ngIf="this.me" class="links active">
    <a routerLink="/t">
      <fa name="bell" size="2x"></fa>
    </a>
    <a [routerLink]="['/u', this.me._id]">
      <fa name="user" size="2x"></fa>
    </a>
    <a routerLink="/f">
      <fa name="thumbs-up" size="2x"></fa>
    </a>
  </div>
  <div *ngIf="!this.me" class="links active">
    <a>
      <fa name="cog" size="2x" animation="spin"></fa>
    </a>
  </div>
</nav>