<nav>
  <div class="title">
    <a routerLink="/" class="active">
      <div class="logo-icon"></div>
      <h1 class="logo-text">Vaccine</h1>
    </a>
  </div>
  <div class="search">
    <input #keywords type="text" placeholder="Search">
  </div>
  <div class="links" class="active">
    <div>
      <fa name="bell" size="2x"></fa>
    </div>
    <a routerLink="/mypage">
      <fa name="user" size="2x"></fa>
    </a>
    <a routerLink="/follows">
      <fa name="thumbs-up" size="2x"></fa>
    </a>
  </div>
</nav>