<nav>
  <div class="title">
    <a href="/" class="active">
      <div class="logo-icon"></div>
      <h1 class="logo-text">Vaccine</h1>
    </a>
  </div>
  <div class="search">
    <input #keywords type="text" placeholder="Search">
  </div>
  <div class="links">
    <a href="/timeline" class="active">
      <fa name="compass" size="2x"></fa>
    </a>
    <a href="/mypage">
      <fa name="user-circle" size="2x"></fa>
    </a>
    <a href="/follows">
      <fa name="thumbs-up" size="2x"></fa>
    </a>
  </div>
</nav>