:host {
    margin: 10px;
}

.card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.card-contents {
    padding: 15px;
}

.card-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.card-button-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
}

.card-button-icon {
    margin: 5px;
}