<div class="card">
  <div class="card-thumbnail">
    <img src="/assets/bwelk_75.jpg" alt="">
  </div>
  <div class="card-contents">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto ex earum molestiae ea tempora illo a, suscipit ullam
    reprehenderit cumque nam facere assumenda voluptatem qui veritatis beatae quae? Doloremque, quaerat.
    <hr>
    <div class="card-icons">
      <div class="card-button-wrapper">
        <div class="card-button-icon activated-like">
          <fa name="heart" size="lg"></fa>
        </div>
        <span class="card-button-count">13</span>
      </div>
      <div class="card-button-wrapper">
        <div class="card-button-icon">
          <fa name="comment" size="lg"></fa>
        </div>
        <span class="card-button-count">13</span>
      </div>
      <div class="card-button-wrapper">
        <a href="/" class="user-link">
          <div class="card-author-thumbnail"></div>
          <div class="card-author-info">
            <div class="card-author-name">Myname Yourname</div>
            <div class="card-author-email">test1234@email.com</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>