<div class="card">
  <div *ngIf="this.isDeleted" class="card-contents">
    <div class="card-contents-text">삭제되었습니다.</div>
  </div>
  <div *ngIf="!this.isDeleted" class="card-contents">
    <pre class="card-contents-text" [innerHTML]="this.renderHashtags(this.post.content)"></pre>
    <hr>
    <div class="card-icons">
      <div class="card-button-wrapper">
        <div class="card-button-icon activated-like" *ngIf="this.getMyActions()" (click)="this.unlike()">
          <fa name="heart" size="lg"></fa>
        </div>
        <div class="card-button-icon" *ngIf="!this.getMyActions()" (click)="this.like()">
          <fa name="heart" size="lg"></fa>
        </div>
        <span class="card-button-count">{{ this.post.goodsCount }}</span>
      </div>
      <div class="card-button-wrapper" (click)="this.toggleComments()">
        <div class="card-button-icon" [ngClass]="this.ico ? 'activated-comment' : undefined">
          <fa name="comment" size="lg"></fa>
        </div>
        <span class="card-button-count">{{ this.post.comments.length }}</span>
      </div>
      <div class="card-button-wrapper user-info">
        <a [routerLink]="'/u/' + this.post.author._id" class="user-link">
          <div *ngIf="this.post.author._id === this.me._id" class="card-author-thumbnail me" [ngStyle]="this.thumbnailStyle(this.post.author._id)"></div>
          <div *ngIf="this.post.author._id !== this.me._id" class="card-author-thumbnail" [ngClass]="this.post.author.followers.includes(this.me._id) ? 'following' : null"
            [ngStyle]="this.thumbnailStyle(this.post.author._id)"></div>
          <div class="card-author-info">
            <div class="card-author-name">{{ this.post.author.username }}</div>
            <div class="card-author-email">{{ this.post.createdAt | date:'medium' }}</div>
          </div>
        </a>
      </div>
      <div *ngIf="this.canIDelete()" class="card-button-wrapper delete-button" (click)="this.deletePost()">
        <fa *ngIf="!this.deleteLoding" name="trash" size="lg"></fa>
        <fa *ngIf="this.deleteLoding" name="cog" size="lg" animation="spin"></fa>
      </div>
    </div>
    <hr *ngIf="this.ico">
    <app-comments *ngIf="this.ico" [post]="this.post" (reload)="this.reloadPost()"></app-comments>
  </div>
</div>