<div class="card">
  <!-- <div class="card-thumbnail">
    <img src="/assets/backgrounds/background.jpg" alt="">
  </div> -->
  <div class="card-contents">
    <div class="card-contents-text">{{ this.post.content }}</div>
    <hr>
    <div class="card-icons">
      <div class="card-button-wrapper">
        <div class="card-button-icon activated-like" *ngIf="this.getMyActions()" (click)="this.unlike()">
          <fa name="heart" size="lg"></fa>
        </div>
        <div class="card-button-icon" *ngIf="!this.getMyActions()" (click)="this.like()">
          <fa name="heart" size="lg"></fa>
        </div>
        <span class="card-button-count">{{ this.post.goods.length }}</span>
      </div>
      <div class="card-button-wrapper" (click)="this.toggleComments()">
        <div class="card-button-icon" [ngClass]="this.ico ? 'activated-comment' : undefined">
          <fa name="comment" size="lg"></fa>
        </div>
        <span class="card-button-count">{{ this.post.comments.length }}</span>
      </div>
      <div class="card-button-wrapper user-info">
        <a [routerLink]="'/u/' + this.post.author._id" class="user-link">
          <div *ngIf="this.post.author._id === this.me._id" class="card-author-thumbnail me" [ngStyle]="this.thumbnailStyle(this.post.author._id)"></div>
          <div *ngIf="this.post.author._id !== this.me._id" class="card-author-thumbnail" [ngClass]="this.post.author.followers.includes(this.me._id) ? 'following' : null"
            [ngStyle]="this.thumbnailStyle(this.post.author._id)"></div>
          <div class="card-author-info">
            <div class="card-author-name">{{ this.post.author.username }}</div>
            <div class="card-author-email">{{ this.post.author.email }}</div>
          </div>
        </a>
      </div>
      <div class="card-button-wrapper delete-button">
        <fa name="trash" size="lg"></fa>
      </div>
    </div>
    <hr *ngIf="this.ico">
    <app-comments *ngIf="this.ico" [post]="this.post" (reload)="this.reloadPost()"></app-comments>
  </div>
</div>