<div class="comments">
  <button class="more-button" (click)="this.readMoreComments()">{{ this.cl ? 'Loading...' : '더 불러오기' }}</button>
  <div *ngFor="let comment of this.comments.reverse()" class="comment">
    <a href="/">
      <div class="comment-thumbnail"></div>
    </a>
    <div class="comment-info">
      <div class="comment-author-name">{{ comment.author?.username }}</div>
      <div class="comment-content">{{ comment.content }}</div>
    </div>
    <div class="comment-delete">
      <fa name="trash" size="lg"></fa>
    </div>
  </div>
  <div class="comment-write">
    <div class="comment-thumbnail"></div>
    <form class="comment-form" [formGroup]="this.writeForm" (submit)="this.write()">
      <input type="text" placeholder="Comment..." formControlName="content">
    </form>
  </div>
</div>