<div class="background"></div>
<main>
  <div class="mainpage">
    <div class="jumbo">
      <div class="logo"></div>
      <h1>Vaccine</h1>
      <h3>Social Network</h3>
    </div>
  </div>
  <div class="register">
    <div class="signin">
      <form action="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" class="active">Login</button>
        <a href="/">Forget password?</a>
      </form>
    </div>
    <div class="signup">
      <form action="post">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="password" placeholder="Again">
        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</main>